<div class="container">
  <h1 class="display-4 mt-4">Password Generator</h1>
  <form>
  <div class="form-group">
    <label for="input">Length</label>
    <input (input)="handleInputChange($event.target.value)" type="text" name="" id="input" class="form-control">
  </div>
  
  <div class="form-group">
      
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="useLetters" (change)="handleLetterChange()">
        <label class="custom-control-label" for="useLetters">Use Letters</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="useNumbers" (change)="handleNumberChange()">
        <label class="custom-control-label" for="useNumbers">Use Numbers</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="useSymbols" (change)="handleSymbolChange()">
        <label class="custom-control-label" for="useSymbols">Use Symbols</label>
      </div>

      <button [disabled]="!(length &&(includeSymbols || includeLetters || includeNumbers))" type="button" class="btn btn-info px-5 mt-4"
        (click)="handleClick()">Generate</button>

    </div>
    

    <div class='form-group mt-4' *ngIf=password>
      <label for="passGen">Your Password</label>
      <input [value]="password" type="text" name="" id="passGen" class="form-control">
    </div>
    
  </form>
</div>